.ng-invalid.ng-dirty {
  border-color: #FA787E
}

.ng-valid.ng-dirty {
  border-color: #78FA89
}


.navigation .nav-pills>li.active>a, .nav-pills>li.active>a:hover, a.trash {
  background-color: #003DC8;
}

.comment:hover {
  background: #eee;
}

.delete-button {
  float: right;
  color: #999;
}

.delete-button:hover {
  text-decoration:none;
  color:#444;
  cursor:pointer;
}

.navigation a, navigation:hover {
  color: #333;
}

.btn.btn-red {
  color: #fff;
  background-color: #D17376;
}


